<form (ngSubmit)="submit()" [formGroup]="searchForm" class="h-100 mh-100">
    <mat-form-field class="w-100 mw-100">
        <input type="text"
               placeholder="Search..."
               aria-label="Number"
               matInput
               formControlName="searchValue"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <div *ngIf="options">
                <mat-option *ngFor="let option of options" [value]="option" (click)="optionChosen(option)">
                    {{option}}
                </mat-option>
            </div>
        </mat-autocomplete>
    </mat-form-field>
</form>


