<div class="container-fluid h-100">
    <h2 class="text-center">Photographers</h2>
    <table class="table table-striped w-100">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let photographer of photographers$ | async; index as i">
            <th scope="row">{{i}}</th>
            <td>{{photographer.firstName}}</td>
            <td>{{photographer.lastName}}</td>
            <td style="white-space: nowrap">{{photographer.birthday | date}}</td>
            <td style="white-space:pre-wrap; word-wrap:break-word">{{photographer.notes}}</td>
            <td>
                <button class="btn btn-primary"
                        (click)="onUpdate(photographer)">
                    Update
                </button>
                <button class="btn btn-danger ml-1"
                        (click)="onDelete(photographer)">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
