<!--<div class="container-fluid h-100">-->
<!--<table mat-table-->
<!--[dataSource]="dataSource"-->
<!--class="mat-elevation-z8 w-100">-->
<!--<ng-container matColumnDef="id">-->
<!--<th mat-header-cell-->
<!--*matHeaderCellDef>-->
<!--No.-->
<!--</th>-->
<!--<td mat-cell-->
<!--*matCellDef="let photographer">-->
<!--{{photographer.id}}-->
<!--</td>-->
<!--</ng-container>-->

<!--<ng-container matColumnDef="firstName">-->
<!--<th mat-header-cell-->
<!--*matHeaderCellDef>-->
<!--First Name-->
<!--</th>-->
<!--<td mat-cell-->
<!--*matCellDef="let photographer">-->
<!--{{photographer.firstName}}-->
<!--</td>-->
<!--</ng-container>-->

<!--<ng-container matColumnDef="lastName">-->
<!--<th mat-header-cell-->
<!--*matHeaderCellDef>-->
<!--Last Name-->
<!--</th>-->
<!--<td mat-cell-->
<!--*matCellDef="let photographer">-->
<!--{{photographer.lastName}}-->
<!--</td>-->
<!--</ng-container>-->
<!--<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>-->
<!--</table>-->
<!--</div>-->

<div class="container-fluid h-100">
    <table class="table table-striped w-100">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let photographer of photographers$ | async; index as i">
            <th scope="row">{{i}}</th>
            <td>{{photographer.firstName}}</td>
            <td>{{photographer.lastName}}</td>
            <td>
                <button class="btn btn-danger"
                        (click)="onDelete(photographer)">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
