<div class="container-fluid h-100 d-flex align-items-center">
  <div class="container">
    <mat-card>
      <mat-card-title class="text-center">PicDB</mat-card-title>
      <mat-card-content>
          <div class="text-center">
              <p>You have to choose a folder to start using the application</p>
              <button (click)="onChooseFolder()" type="button" class="btn btn-outline-secondary">
                  choose a folder
              </button>
          </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

