.slick-slider {
    width: 90%;
    margin: auto;
    background: black;
    height: 360px !important;
    max-height: 360px !important;
}

#slider-container {
    background: black;
}

img {
    max-height: 360px !important;
}

.slick-slide {
    display: inline-block;
    vertical-align: middle;
    float:none;
}

.active-slide {
    border: 2px solid red;
}