<div class="container-fluid h-100 mh-100">
    <div *ngIf="activeImage as image" class="h-100 mh-100">
        <div class="row h-100 mh-100">
            <div class="col-6 h-100 mh-100 d-flex align-items-center">
                <img [src]="image.filePath | safeHtml" class="mx-auto my-auto img-fluid mh-90">
            </div>
            <div class="col-6 h-100 mh-100">
                <mat-tab-group>
                    <mat-tab class="my-1" label="IPTC" *ngIf="image.metaData && image.metaData.data">
                        <form (ngSubmit)="updateIPTC()" [formGroup]="iptcForm">
                            <mat-form-field class="w-100">
                                <mat-label>Creator</mat-label>
                                <input formControlName="creator"
                                       matInput
                                       type="text"
                                       id="creator"
                                       name="creator"
                                       aria-describedby="Creator of photograph">
                            </mat-form-field>
                            <mat-form-field class="w-100">
                                <mat-label>country</mat-label>
                                <input formControlName="country"
                                       matInput
                                       type="text"
                                       id="country"
                                       name="country"
                                       aria-describedby="Country photograph has been taken in">
                            </mat-form-field>
                            <mat-form-field class="w-100">
                                <mat-label>Source</mat-label>
                                <input formControlName="source"
                                       matInput
                                       type="text"
                                       id="source"
                                       name="source"
                                       aria-describedby="Creator of photograph">
                            </mat-form-field>
                            <button type="submit"
                                    mat-button
                                    [disabled]="!iptcForm.valid || !iptcForm.dirty">
                                Update
                            </button>
                        </form>
                    </mat-tab>

                    <mat-tab class="my-1" label="EXIF" *ngIf="image.metaData && image.metaData.data">
                        <form (ngSubmit)="updateEXIF()" [formGroup]="exifForm">
                            <mat-form-field class="w-100">
                                <mat-label>Aperture</mat-label>
                                <input formControlName="aperture"
                                       readonly
                                       matInput
                                       type="aperture"
                                       id="text"
                                       name="aperture"
                                       aria-describedby="Aperture">
                            </mat-form-field>

                            <mat-form-field class="w-100">
                                <mat-label>Focal Length</mat-label>
                                <input formControlName="focalLength"
                                       readonly
                                       matInput
                                       type="text"
                                       id="focalLength"
                                       name="focalLength"
                                       aria-describedby="Focal Length">
                            </mat-form-field>

                            <mat-form-field class="w-100">
                                <mat-label>Exif Version</mat-label>
                                <input formControlName="exifVersion"
                                       readonly
                                       matInput
                                       type="text"
                                       id="exifVersion"
                                       name="exifVersion"
                                       aria-describedby="Exif Version">
                            </mat-form-field>
                        </form>
                    </mat-tab>

                    <mat-tab label="Photographer" class="my-1">
                        <form (ngSubmit)="updatePhotographer()" [formGroup]="photographerForm">
                            <mat-form-field>
                                <mat-label>Photographer</mat-label>
                                <mat-select formControlName="photographerID">
                                    <mat-option *ngFor="let photographer of photographers$ | async"
                                                [value]="photographer.id">{{photographer | nameDisplay}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br/>
                            <button type="submit"
                                    mat-button
                                    [disabled]="!photographerForm.valid || !photographerForm.dirty">
                                Update
                            </button>
                        </form>
                    </mat-tab>

                    <mat-tab class="my-1" label="Other">
                        <mat-form-field>
                            <mat-chip-list #taglist aria-label="tag list">
                                <mat-chip (removed)="removeTag($event)" *ngFor="let tag of image.tags"
                                          [removable]="removable"
                                          [selectable]="selectable">
                                    {{tag}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input (matChipInputTokenEnd)="addTag($event)" [matChipInputAddOnBlur]="addOnBlur"
                                       [matChipInputFor]="taglist"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       aria-label="tags"
                                       placeholder="add tags..."
                                >
                            </mat-chip-list>
                        </mat-form-field>
                        <br/>
                        <a mat-raised-button (click)="generateReport()">Download Report</a>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>

    </div>

</div>

